*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-div{
    height: 100vh;
    width: 50%;
    background: linear-gradient(41.43deg, #023E8A 36.6%, #2C5E9D 67.28%);
}

#form-div{
    width: 50%;
    height: 100vh;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 10px;
}
p{
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0px; 
}
label{
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0px; 

}
input{
    padding: 0.6rem;
    width: 300px;
    margin: 0.4rem 0;
    border: 1px solid #8A8C8F;
    border-radius: 8px;
    outline: none;
    /* width: 100%; */
}
/* input[type='text']:focus{
    text-align:left;
    } */
input:focus{
    border: 2px solid #8A8C8F;   
}
input[type=submit]{
    font-size: 20px;
    font-weight: 600;
    background-color: #023E8A;
    color: #FFFFFF;
    transition: width .35s ease-in-out;
    cursor: pointer;

}

#fpassword{
    text-align: right;
    margin-top: -3px;
    font-size: 12px;
    
}
#fpassword a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.create-acct{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
}
.create-acct a{
    color: #2C5E9D;
}

@media screen and (max-width: 800px) {
    
    body{
        flex-direction: column;
    }
    #logo-div{
        background-color: #023E8A;
        width: 100%;
    }
    img{
        width: 185px;
    }
    h1{
        margin: 10px ; 
        font-size: 24px;
    }
    #form-div{
        width: 90%;
    }
    p{
        width: 100%;
        padding: 0px 5px;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
    }
    .create-acct{
        width: 100%;
    }
}
