<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login.css">
        <title>Login</title>
    </head>

    <body>
        <div id="logo-div" class="flex">
                <img src="./asset/proto.png" alt="proto logo">
        </div>
        <div id="form-div" class="flex">
                <h1>Welcome</h1>
                <p>Login to your Fetch metadata account</p>

            <form action={% url 'account:login_api' %} method="post">
                <!-- {% csrf_token %} -->
                <label for="email">Email*</label>
                <input type="email" name="email" placeholder="aladerofiah@gmail.com" required>
                <label for="password">Password*</label>
                <input type="password" name="password" placeholder="*******" required>
                <p id="fpassword"><a href="./forgotten_password.html"> Forgot password?</a></p>
                <input type="submit" value="Continue">
            </form>
            <p class="create-acct">Don't have an account? <a href="./register.html">Create an account</a></p>

        </div>

        <!-- <script src="/static/metadata/js/main.js"></script> -->
    </body>

</html>
