<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>

    <body>
        <form action={% url 'account:register_api' %} method="post">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="first name" required>
            <input type="text" name="last_name" placeholder="last name" required>
            <input type="password" name="password" placeholder="Password" required>

            <input type="password" name="rt_password" placeholder="Repeat password" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="submit" value="submit">
        </form>
        <!-- <script src="/static/metadata/js/main.js"></script> -->
    </body>

</html>
